<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_TEMP" value="./logs"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="com.example.testlog4j" level="DEBUG" additivity="false">
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

<!--      <file>/u01/Oracle/Middleware/Oracle_Home/user_projects/domains/base_domain/servers/AppServer1/logs/edssoregister.log</file>-->
      <file> C:\Users\Administrator\Desktop\Log\testlog4j.log</file>
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <Pattern>
          %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
        </Pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>
          C:\Users\Administrator\Desktop\Log\testlog4j%d{yyyy-MM-dd}.log
        </fileNamePattern>
        <maxHistory>30</maxHistory>
        <totalSizeCap>1000MB</totalSizeCap>
      </rollingPolicy>
    </appender>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </logger>
</configuration>

